rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Permitir que somente usuários autenticados possam ler e gravar arquivos
    match /{allPaths=**} {
      allow read, write: if request.auth != null;
    }
  }
}
